#### Series和Series操作

在series和series之间,可做加减乘除,pandas会自动根据索引去排序并对齐

如果索引只在其中一个Series出现的话,结果就会是NaN,表示not a number

也就是说,由于Series之间的计算会自动进行索引对齐,只有当某个索引同时出现在两个Series里时,结果里才会有对应值

In [1]:
import pandas as pd

In [3]:
s1 = pd.Series([1,4,2,3,5], index=[1,3,5,7,9])
s1

1    1
3    4
5    2
7    3
9    5
dtype: int64

In [4]:
s2 = pd.Series([8,1,7,3,9], index = [1,2,3,5,10])
s2

1     8
2     1
3     7
5     3
10    9
dtype: int64

In [5]:
s1 + s2

1      9.0
2      NaN
3     11.0
5      5.0
7      NaN
9      NaN
10     NaN
dtype: float64

如果你希望给缺失的值一个默认值的话,可以用方法而不是符号去做这些操作,然后给fill value这个参数传入一个值
用符号的话我们没办法传参,但用方法就可以

In [6]:
s1.add(s2,fill_value = 0)

1      9.0
2      1.0
3     11.0
5      5.0
7      3.0
9      5.0
10     9.0
dtype: float64

sub/mul/div也是一样的

In [7]:
s1.sub(s2,fill_value = 0)

1    -7.0
2    -1.0
3    -3.0
5    -1.0
7     3.0
9     5.0
10   -9.0
dtype: float64

In [8]:
s1.mul(s2,fill_value = 1)

1      8.0
2      1.0
3     28.0
5      6.0
7      3.0
9      5.0
10     9.0
dtype: float64

In [9]:
s1.div(s2,fill_value = 1)

1     0.125000
2     1.000000
3     0.571429
5     0.666667
7     3.000000
9     5.000000
10    0.111111
dtype: float64

#### Series的常用方法

求最值/平均值/总值

In [10]:
print(s1.max())
print(s1.min())
print(s1.sum())
print(s1.mean())

5
1
15
3.0

#### .descibe()

series还有一个很强大的方法,叫做describe,这个是数组没有的
.describe( )方法能直接告诉我们很多关于这个Series的统计信息:包括元素个数,平均数,标准差,最小值,第一四分位数,中位数,第三四分位数,最大值

In [11]:
s1.describe()

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

#### 对元素分别操作

如何对某一个元素分别操作?

pandas Series和numpy一样 都有广播机制

一个叫apply的方法可以派上用场

apply方法**接收函数作为参数**
然后调用时把Series里各个元素分别作为那个函数的参数
返回的Series里的元素就是那个函数对原始Series里各个元素调用的结果

这个apply相当于是高级函数

例子: 我们希望能得到每个成绩对应的等级

In [13]:
scores = pd.Series({'小明':92,'小红':67, '小杰':70, '小丽':88, '小华':76})
scores

小明    92
小红    67
小杰    70
小丽    88
小华    76
dtype: int64

In [15]:
def get_grade_from_score(score):
    if score >= 90:
        return 'A'
    elif score >= 80:
        return 'B'
    elif score >= 70:
        return 'C'
    else:
        return 'D'
grades = scores.apply(get_grade_from_score)
grades

小明    A
小红    D
小杰    C
小丽    B
小华    C
dtype: object

**apply方法并不改变原始Series!!! 而是会返回一个新的Series**

#### lambda

In [20]:
scores_square = scores.apply(lambda x: x*x)
scores_square

小明    8464
小红    4489
小杰    4900
小丽    7744
小华    5776
dtype: int64